{% load static %}
<link rel="apple-touch-icon" href="apple-touch-icon.html">
<link rel="stylesheet" href="{% static 'modular/css/vendor.css' %}">
<link rel="stylesheet" id="theme-style" href="{% static 'modular/css/app-green.css' %}">

<body>
    <div class="auth">
        <div class="auth-container">
            <div class="card">
                <header class="auth-header">
                    <h1 class="auth-title">
                        <div class="logo">
                            <span class="l l1"></span>
                            <span class="l l2"></span>
                            <span class="l l3"></span>
                            <span class="l l4"></span>
                            <span class="l l5"></span>
                        </div> ModularAdmin
                    </h1>
                </header>
                <div class="auth-content">
                    <p class="text-center">LOGIN TO CONTINUE</p>
                    <form id="login-form" method="POST" novalidate="">{% csrf_token %}
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="email" class="form-control underlined" name="username" id="username"
                                placeholder="Your email address" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control underlined" name="password" id="password"
                                placeholder="Your password" required>
                        </div>
                        <div class="form-group">
                            <label for="remember">
                                <input class="checkbox" id="remember" type="checkbox">
                                <span>Remember me</span>
                            </label>
                            <a href="#" class="forgot-btn pull-right">Forgot password?</a>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-block btn-primary">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>