{% extends 'news/base.html' %}
{% load social_share %}
{% block body %}
<div class="newstricker_inner">
    <div class="trending"><strong>اہم خبریں</strong></div>
    <div id="NewsTicker-rtl" class="owl-carousel owl-theme">
        <div class="item">
            <a href="#">حادثے میں شوہر کے جسم کا 90 فیصد جب کہ بیوی کے جسم کا 10 فیصد حصہ متاثر ہوا،32 سالہ شخص کی
                حالت
                تشویشناک</a>
        </div>
    </div>
</div>
<main class="page_main_wrapper">
    <div class="container">
        <div class="row row-m">
            <!-- START MAIN CONTENT -->
            <div class="col-sm-8 col-p  main-content">
                <div class="theiaStickySidebar">
                    <div class="post_details_inner">
                        <div class="post_details_block">
                            <figure class="social-icon">
                                <img src="{{ object.thumbnail.url }}" class="img-responsive" alt="" />
                                <div>
                                    <a href="https://www.facebook.com/sharer.php?u=http://nexcop.com/"
                                        target="_blank"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>

                                </div>
                            </figure>
                            <h2>{{ object.title }}</h2>
                            <ul class="authar-info">
                                <li><a href="#" class="link">by {{ object.author.username }}</a></li><br>
                                <li>{{ object.timestamp }}</li>
                            </ul>
                            <p>{{ object.content|safe }}</p>
                        </div>
                        <!-- Post footer -->
                        <div class="post-footer">
                            <div class="row thm-margin">
                                <div class="col-xs-12 col-sm-12 col-md-12 thm-padding">
                                    <!-- pagination -->
                                    <!-- <ul class="pagination">
                                        <li class="disabled"><span class="ti-angle-left"></span></li>
                                        <li class="active"><span>1</span></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li class="disabled"><span class="extend">...</span></li>
                                        <li>
                                        </li>
                                        <li><a href="#">12</a></li>
                                        <li><a href="#"><i class="ti-angle-right"></i></a></li>
                                    </ul>  -->
                                    <!-- /.pagination -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- START RELATED ARTICLES -->
                    <div class="post-inner post-inner-2">
                        <!--post header-->
                        <div class="post-head">
                            <h2 class="title"><strong>Related </strong> Articles</h2>
                        </div>
                        <!-- post body -->
                        <div class="post-body">
                            <div class="owl-carousel owl-theme post-slider-rtl">
                                <!-- item one -->
                                <div class="item">
                                    <div class="news-grid-2">
                                        <div class="row row-margin">
                                            {% for post in related %}
                                            <div class="col-xs-6 col-sm-4 col-md-4 col-padding">
                                                <div class="grid-item">
                                                    <div class="grid-item-img">
                                                        <a href="#">
                                                            <img src="{{ post.thumbnail.url }}" class="img-responsive"
                                                                alt="">
                                                            <div class="link-icon"><i class="fa fa-play"></i></div>
                                                        </a>
                                                    </div>
                                                    <h5><a href="#" class="title">{{ post.title }}</a></h5>
                                                    <h5><a href="#" class="title">{{ post.name }}</a></h5>
                                                    <ul class="authar-info">
                                                        <li>{{ post.timestamp | timesince }}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- START SIDE CONTENT -->
            {% include 'news/side_content.html' %}
        </div>
    </div>
</main>
{% endblock %}