{% load static %}
<!-- *** START FOOTER *** -->
<footer>
  <div class="container">
    <div class="row">
      <!-- START FOOTER BOX (About) -->
      <div class="col-sm-3 footer-box">
        <div class="about-inner">
          <img src="{% static 'rtl/assets/img/mashriq-logo.jpg' %}" class="img-responsive" alt="" />
        </div>
      </div>
      <!--  END OF /. FOOTER BOX (About) -->

      <!-- START FOOTER BOX (Category) -->
      <div class="col-sm-2 footer-box">
        <h3 class="wiget-title">خبریں</h3>
        <ul class="menu-services">
          <li><a href="{% url 'news-pakistan' %}">پاکستان</a></li>
          <li><a href="{% url 'news-international' %}">بین الاقوامی خبریں</a></li>
          <li><a href="{% url 'news-business' %}"> کاروبار</a></li>
          <li><a href="{% url 'news-sports' %}"> سپورٹس</a></li>
        </ul>
      </div>
      <!-- END OF /. FOOTER BOX (Category) -->
      <!-- START FOOTER BOX (Recent Post) -->
      <div class="col-sm-4 footer-box">
        <h3 class="wiget-title">تازہ ترین</h3>
        <div class="footer-news-grid">
          {% for show in footer %}
          <div class="news-list-item">
            <div class="img-wrapper">
              <a href="#" class="thumb">
                <img src="{{ show.thumbnail.url }}" alt="" class="img-responsive" />
                <div class="link-icon">
                  <i class="fa fa-camera"></i>
                </div>
              </a>
            </div>
            <div class="post-info-2">
              <h5>
                <a href="#" class="title">{{ show.title }}</a>
              </h5>
              <ul class="authar-info">
                <li><i class="ti-timer"></i> {{ show.timestamp | timesince }}</li>
              </ul>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <!-- END OF /. FOOTER BOX (Recent Post) -->
    </div>
  </div>
</footer>
<!-- *** END OF /. FOOTER *** -->
<!-- *** START SUB FOOTER *** -->
<div class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-5 col-md-5">
        <div class="copy">Copyright@2017 I-News Inc.</div>
      </div>
      <div class="col-xs-12 col-sm-7 col-md-7">
        <ul class="footer-nav">
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Donation</a></li>
          <li><a href="#">F.A.Q</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- *** END OF /. SUB FOOTER *** -->