{% load static %}
<header>
    <!-- START HEADER TOP SECTION -->
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6">
                    <!-- Start header social -->
                    <div class="header-social">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li class="hidden-xs"><a href="https://www.youtube.com/channel/UCTowW3WDjv0kGeyLWPOVTHA"
                                    target="_blank"><i class="fa fa-youtube-play"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!-- Start header top right menu -->
                <div class="hidden-xs col-md-6 col-sm-6 col-lg-6">
                    <div class="header-right-menu">
                        <ul>
                            <li> <a href="#">mashriq@gmail.com</a>
                        </ul>
                    </div>
                </div> <!-- end of /. header top right menu -->
            </div> <!-- end of /. row -->
        </div> <!-- end of /. container -->
    </div>
    <!-- END OF /. HEADER TOP SECTION -->
    <!-- START MIDDLE SECTION -->
    <div class="header-mid hidden-xs">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="logo">
                        <a href="/"><img src="{% static 'rtl/assets/img/mashriq-logo.jpg' %}" class="img-responsive"
                                alt=""></a>

                    </div>
                </div>
                <div class="col-sm-8">
                    <!--for add link-->
                    <a href="#"><img src="" class="img-responsive" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <!-- END OF /. MIDDLE SECTION -->
    <!-- START NAVIGATION -->
    <nav class="navbar navbar-default navbar-sticky navbar-mobile bootsnav">
        <!-- Start Top Search -->
        <div class="top-search">
            <div class="container">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
                </div>
            </div>
        </div>
        <!-- End Top Search -->
        <div class="container">
            <!-- Start Atribute Navigation -->
            <div class="attr-nav">
                <ul>
                    <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
                </ul>
            </div>
            <!-- End Atribute Navigation -->
            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand hidden-sm hidden-md hidden-lg" href="/"><img
                        src="{% static 'rtl/assets/img/mashriq-logo.jpg' %}" class="logo" alt=""></a>
            </div>
            <!-- End Header Navigation -->
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav navbar-left" data-in="" data-out="">
                    <li class="{{ home }}"><a href="/">صفحہ اوّل</a></li>
                    <li class="{{ latests }}"><a href="{% url 'news-latest' %}">تازہ ترین</a></li>
                    <li class="{{ pakistan }}"><a href="{% url 'news-pakistan' %}">پاکستان</a></li>
                    <li class="{{ international }}"><a href="{% url 'news-international' %}">بین الاقوامی خبریں</a></li>
                    <li class="{{ buisness }}"><a href="{% url 'news-business' %}"> کاروبار</a></li>
                    <li class="{{ showbiz }}"><a href="{% url 'news-showbiz' %}"> شوبز</a></li>
                    <li class="{{ sports }}"><a href="{% url 'news-sports' %}"> سپورٹس</a></li>
                    <li class="active"><a href="https://www.youtube.com/channel/UCTowW3WDjv0kGeyLWPOVTHA"
                            target="_blank"> <i class="fa fa-youtube-play fa-lg"></i> </a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>
    <!-- END OF/. NAVIGATION -->
</header>