{% extends 'news/base.html' %}
{% block body %}
<div class="newstricker_inner">
    <div class="trending"><strong>اہم خبریں</strong></div>
    <div id="NewsTicker-rtl" class="owl-carousel owl-theme">
        <div class="item">
            <a href="#">حادثے میں شوہر کے جسم کا 90 فیصد جب کہ بیوی کے جسم کا 10 فیصد حصہ متاثر ہوا،32 سالہ شخص کی حالت
                تشویشناک</a>
        </div>
    </div>
</div>

<!-- START POST BLOCK SECTION -->
<section class="slider-inner">
    <div class="container">
        <div class="row thm-margin">
            <div class="col-xs-12 col-sm-6 col-md-6 thm-padding">
                <div class="slider-wrapper">
                    <div id="owl-slider-rtl" class="owl-carousel owl-theme">
                        {% for carousel in carousels %}
                        <div class="item">
                            <div class="slider-post post-height-1">
                                <a href="{% url 'news-detail' pk=carousel.pk %}" class="news-image"><img
                                        src="{{ carousel.thumbnail.url }}" alt="" class="img-responsive"></a>
                                <div class="post-text">
                                    <h2><a href="">{{ carousel.title }}</a>
                                    </h2>
                                    {% for cat in carousel.categories.all %}
                                    <span class="post-category">{{ cat.name }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 thm-padding">
                <div class="row slider-right-post thm-margin">
                    {% for slider in sliders %}
                    <div class="col-xs-6 col-sm-6 col-md-6 thm-padding">
                        <div class="slider-post post-height-2">
                            <a href="{% url 'news-detail' pk=slider.pk %}" class="news-image"><img
                                    src="{{ slider.thumbnail.url }}" alt="" class="img-responsive"></a>
                            <div class="post-text">
                                <h4><a href="#">{{ slider.title }}</a></h4>
                                {% for cat in slider.categories.all %}
                                <span class="post-category">{{ cat.name }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>


<div class="container">
    <div class="row row-m">

        <div class="col-sm-8 col-p main-content">
            <div class="theiaStickySidebar">

                <div class="post-inner">
                    <!--post header-->
                    <div class="post-head">
                        <h2 class="title"> پاکستان </h2>
                    </div>
                    <!-- post body -->
                    <div class="post-body">
                        <div class="">
                            <!-- item one -->
                            <div class="item">
                                <div class="row">
                                    <div class="col-sm-6 main-post-inner bord-right">
                                        {% for nat in national %}
                                        <article>
                                            <figure>
                                                <a href="{% url 'news-detail' pk=nat.pk %}"><img
                                                        src="{{ nat.thumbnail.url }}" height="242" width="345" alt=""
                                                        class="img-responsive"></a>
                                            </figure>
                                            <div class="post-info">
                                                <h3><a href="#">{{ nat.title }}</a>
                                                </h3>
                                                <span>
                                                    <i class="ti-timer"></i>
                                                    {{ nat.timestamp | timesince }}
                                                </span>
                                                <p></p>
                                            </div>
                                        </article>
                                        {% endfor %}
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="news-list">
                                            {% for nat in nationallist %}
                                            <div class="news-list-item">
                                                <div class="img-wrapper">
                                                    <a href="{% url 'news-detail' pk=nat.pk %}" class="thumb">
                                                        <img src="{{ nat.thumbnail.url }}" alt=""
                                                            class="img-responsive">
                                                        <div class="link-icon">
                                                            <i class="fa fa-camera"></i>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="post-info-2">
                                                    <h5><a href="{% url 'news-detail' pk=nat.pk %}"
                                                            class="title">{{ nat.title }}</a></h5>
                                                    <i class="ti-timer"></i> {{ nat.timestamp | timesince }}
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div class="add-inner">
                    <img src="" class="img-responsive" alt="">
                </div> -->


                <div class="post-inner post-inner-2">
                    <!--post header-->
                    <div class="post-head">
                        <h2 class="title">بین الاقوامی</h2>
                    </div>
                    <!-- post body -->
                    <div class="post-body">
                        <div class="">
                            <!-- item one -->
                            <div class="item">
                                <div class="row">
                                    <div class="col-sm-6 main-post-inner bord-right">
                                        {% for world in worlds %}
                                        <article>
                                            <figure>
                                                <a href="{% url 'news-detail' pk=world.pk %}"><img
                                                        src="{{ world.thumbnail.url }}" height="242" width="345" alt=""
                                                        class="img-responsive"></a>
                                            </figure>
                                            <div class="post-info">
                                                <h3><a href="#">{{ world.title }}</a>
                                                </h3>
                                                <i class="ti-timer"></i> {{ world.timestamp | timesince }}
                                                <p></p>
                                            </div>
                                        </article>
                                        {% endfor %}
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="news-list">
                                            {% for wo in worldlists %}
                                            <div class="news-list-item">
                                                <div class="img-wrapper">
                                                    <a href="{% url 'news-detail' pk=wo.pk %}" class="thumb">
                                                        <img src="{{ wo.thumbnail.url }}" alt="" class="img-responsive">
                                                        <div class="link-icon">
                                                            <i class="fa fa-camera"></i>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="post-info-2">
                                                    <h5><a href="{% url 'news-detail' pk=wo.pk %}"
                                                            class="title">{{ wo.title }}</a></h5>
                                                    <i class="ti-timer"></i> {{ wo.timestamp | timesince }}
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>





                <!-- START POST CATEGORY STYLE THREE (More news) -->
                <div class="post-inner">
                    <!-- post header -->
                    <div class="post-head">
                        <h2 class="title">کاروبار</h2>
                    </div>
                    <!-- post body -->
                    <div class="post-body">
                        <div class="owl-carousel owl-theme post-slider-rtl">
                            <!-- item one -->
                            <div class="item">
                                <div class="row">
                                    {% for buis in business%}
                                    <div class="col-sm-6 main-post-inner bord-right">
                                        <div class="more-post">
                                            <a href="#" class="news-image"><img src="{{ buis.thumbnail.url }}" alt=""
                                                    class="img-responsive"></a>
                                            <div class="post-text">
                                                <h4><a href="#">{{ buis.title }}</a>
                                                </h4>
                                                {% for cat in buis.categories.all %}
                                                <span class="post-category">{{ cat.name }}</span>
                                                {% endfor %}
                                                <ul class="authar-info">
                                                    <li><i class="ti-timer"></i>{{ buis.timestamp | timesince }}</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="post-inner">
                    <!--post header-->
                    <div class="post-head">
                        <h2 class="title">سپورٹس</h2>
                    </div>
                    <!-- post body -->
                    <div class="post-body">
                        <div class="">
                            <!-- item one -->
                            <div class="item">
                                <div class="row">
                                    <div class="col-sm-6 main-post-inner bord-right">
                                        {% for nat in sports %}
                                        <article>
                                            <figure>
                                                <a href="{% url 'news-detail' pk=nat.pk %}"><img
                                                        src="{{ nat.thumbnail.url }}" height="242" width="345" alt=""
                                                        class="img-responsive"></a>
                                            </figure>
                                            <div class="post-info">
                                                <h3><a href="#">{{ nat.title }}</a>
                                                </h3>
                                                <i class="ti-timer"></i> {{ nat.timestamp | timesince }}
                                                <p></p>
                                            </div>
                                        </article>
                                        {% endfor %}
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="news-list">
                                            {% for nat in sportslist %}
                                            <div class="news-list-item">
                                                <div class="img-wrapper">
                                                    <a href="{% url 'news-detail' pk=nat.pk %}" class="thumb">
                                                        <img src="{{ nat.thumbnail.url }}" alt=""
                                                            class="img-responsive">
                                                        <div class="link-icon">
                                                            <i class="fa fa-camera"></i>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="post-info-2">
                                                    <h5><a href="{% url 'news-detail' pk=nat.pk %}"
                                                            class="title">{{ nat.title }}</a></h5>
                                                    <i class="ti-timer"></i> {{ nat.timestamp | timesince }}
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <!-- sidebar optinal -->
        {% include 'news/side_content.html' %}

    </div>
</div>




{% endblock %}