<div class="col-sm-4 col-p leftSidebar">
    <div class="theiaStickySidebar">
        <!-- START WEATHER -->
        <!-- <div class="weather-wrapper">
            <div class="row thm-margin">
                <div class="col-xs-3 col-sm-4 col-md-3 col-lg-3 weather-week thm-padding">

                </div>
            </div>
        </div> -->
        <!-- END OF /. WEATHER -->

        <!-- START ADVERTISEMENT -->
        <div class="add-inner">
            <img src="http://inews.themepk.com/news/inews_v1.0/assets/images/add320x270-1.jpg" class="img-responsive"
                alt="">
        </div>
        <!-- END OF /. ADVERTISEMENT -->

        <!-- START LATEST REVIEWS -->
        <div class="panel_inner review-inner">
            <div class="panel_header">
                <h4><strong>تازہ ترین</strong></h4>
            </div>
            <div class="panel_body">
                <div class="news-list">
                    <div class="news-list">
                        {% for show in latest %}
                        <div class="news-list-item">
                            <div class="img-wrapper">
                                <a href="#" class="thumb">
                                    <img src="{{ show.thumbnail.url }}" alt="" class="img-responsive">
                                    <div class="link-icon">
                                        <i class="fa fa-camera"></i>
                                    </div>
                                </a>
                            </div>
                            <div class="post-info-2">
                                <h5><a href="#" class="title">{{ show.title }} </a></h5>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!-- END OF /. LATEST REVIEWS -->
        <!-- START LATEST REVIEWS -->
        <div class="panel_inner review-inner">
            <div class="panel_header">
                <h4><strong> شوبز</strong></h4>
            </div>
            <div class="panel_body">
                <div class="news-list">
                    {% for show in showbizs %}
                    <div class="news-list-item">
                        <div class="img-wrapper">
                            <a href="#" class="thumb">
                                <img src="{{ show.thumbnail.url }}" alt="" class="img-responsive">
                                <div class="link-icon">
                                    <i class="fa fa-camera"></i>
                                </div>
                            </a>
                        </div>
                        <div class="post-info-2">
                            <h5><a href="#" class="title">{{ show.title }} </a></h5>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- END OF /. LATEST REVIEWS -->
    </div>
</div>