<script type="text/javascript">
    jQuery(function ($) {
        $("#bn_ticker6").liScroll({
            travelocity: 0.06
        });

    });

</script>
<div class="breaking_news">
    <div class="the_ticker">
        <div class="btn_title">
            <span style="font-size:18px;">تازہ تر ین</span>
        </div>
    </div>
    <div class="news_ticker">
        <ul id="bn_ticker6">


            <li><span>&raquo;</span><a href="https://channelfivepakistan.tv/2020/03/09/201658/">آج چاند زمین کے انتہائی
                    قریب ہوگا</a></li>


            <li><span>&raquo;</span><a href="https://channelfivepakistan.tv/2020/03/09/201645/">بجلی کی قیمتیں مزید نہ
                    بڑھانے کا فیصلہ کرلیا ہے، وزیراعظم</a></li>


            <li><span>&raquo;</span><a href="https://channelfivepakistan.tv/2020/03/09/201642/">اسکردومیں کوسٹردریا میں
                    جا گری؛ 20 مسافرجاں بحق</a></li>


            <li><span>&raquo;</span><a href="https://channelfivepakistan.tv/2020/03/09/201639/">وزیر مملکت شہریار
                    آفریدی کے بھتیجے نے خودکشی کرلی</a></li>


            <li><span>&raquo;</span><a href="https://channelfivepakistan.tv/2020/03/09/201635/">سعودی عرب ،بغاوت کے لیے
                    غیر ملکی طاقتوں سے رابطے،مزید 20شہزادے گرفتار</a></li>


            <li><span>&raquo;</span><a href="https://channelfivepakistan.tv/2020/03/09/201633/">عورت مارچ میں جھڑپیں
                    ،متنازع اور فحش بینر اُٹھانے والوں پر پتھراﺅ ،خواتین نے عالمی دن یوم حیاءکے طور پر منا یا</a></li>


            <li><span>&raquo;</span><a href="https://channelfivepakistan.tv/2020/03/09/201630/">اٹلی میں ایک ہی روز
                    155ہلاک ہزاروں متا ثر ،کرونا سے ڈیڑھ کروڑ ہلاکتوں کا خدشہ،سائنسدانوں کا انکشاف</a></li>


            <li><span>&raquo;</span><a href="https://channelfivepakistan.tv/2020/03/09/201627/">عورت نہیں آزادی مارچ کے
                    نام پر تماشا ہوا،تجزیہ امتنان شاہد</a></li>


            <li><span>&raquo;</span><a href="https://channelfivepakistan.tv/2020/03/07/201601/">ٹک ٹاک کے جنون نے پولیس
                    اہلکار کی جان لے لی، 2 طالبات گرفتار</a></li>


            <li><span>&raquo;</span><a href="https://channelfivepakistan.tv/2020/03/07/201598/">اسٹیج فنکارہ روپ چوہدری
                    شوہر کے ہاتھوں قتل</a></li>


            <li><span>&raquo;</span><a href="https://channelfivepakistan.tv/2020/03/07/201595/">فیروز خان کا بھی شوبز
                    چھوڑ کر مذہبی تعلیمات کے مطابق زندگی گزارنے کا اعلان</a></li>


            <li><span>&raquo;</span><a href="https://channelfivepakistan.tv/2020/03/07/201593/">اس ہفتے مہنگائی مزیدکم
                    ہوگئی:اسد عمر</a></li>


            <li><span>&raquo;</span><a href="https://channelfivepakistan.tv/2020/03/07/201590/">تنقید کرنےوالے میں آوارہ
                    ‘میں بدچلن کا بینر لیکر تصویر بنوائیں :خلیل الرحمن قمر چند عورتیںغیر اسلامی ایجنڈے کے تحت مسلم
                    خواتین کی تذلیل کاباعث بن رہی ہیں میرا جسم میری مرضی کی حمایت کرنےوالوںکی بہنوں کی تصویریں گوگل سے
                    بھی نہیں ملتیں</a></li>


            <li><span>&raquo;</span><a href="https://channelfivepakistan.tv/2020/03/07/201588/">دھماکے کر نیوالے چاہتے
                    ہیں ،ٹرمپ امن معاہدہ واپس لیں ،وہ اس پوزیشن میں نہیں ،عبداللہ گل عبداللہ گل کی ضیا شاہد کے ساتھ
                    خصوصی گفتگو</a></li>


            <li><span>&raquo;</span><a href="https://channelfivepakistan.tv/2020/03/07/201586/">معروف مذہبی سکالر مفتی
                    عبدالقوی نے دوسری شادی کر لی</a></li>

        </ul>
    </div>
</div>