{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block body %}
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
<script src="{% static '/ckeditor_plugins/youtube/plugin.js' %}" type="text/javascript"></script>
<script src="{% static '/ckeditor_plugins/youtube/lang/en.js' %}" type="text/javascript"></script>
<script>
    var loadFile = function (event) {
        var image = document.getElementById('output');
        image.src = URL.createObjectURL(event.target.files[0]);
    };
</script>
<div class="row">
    <div class="col-12">
        <div class="sidebar-overlay" id="sidebar-overlay"></div>
        <div class="sidebar-mobile-menu-handle" id="sidebar-mobile-menu-handle"></div>
        <div class="mobile-menu-handle"></div>
        <form name="item" action="." method="POST" enctype="multipart/form-data">
            <div class="card card-block">
                {% csrf_token %}
                <div class="col-md-8">
                    <div class="form-group row">
                        {% render_field form.title type="text" class="form-control boxed" placeholder="title place" %}
                    </div>
                    <div class="form-group row">
                        {% render_field form.content type="text" class="mycontent form-control" %}
                    </div>
                    <div class="form-group row">
                        <label>
                            {% render_field form.video class="form-control boxed" placeholder="youtube video optional" %}
                        </label>
                        <label>
                            {% render_field form.status class="radio" %}
                            <span>Status</span>
                        </label>
                        <label>
                            {% render_field form.featured class="radio" %}
                            <span>Featured</span>
                        </label>
                    </div>
                    <div class="form-group row">
                    </div>
                    <div class="form-group row">
                        <button type="submit" class="btn btn-primary btn-block">Submit</button>
                    </div>
                </div>

                <div class="col-xl-4" style="padding-left: 100px;">
                    <div class="card card-primary ">
                        <div class="card-header">
                            <div class="header-block">
                                <p class="title">Categories</p>
                            </div>
                        </div>
                        <div class="card-block">
                            <div class="form-group">
                                {% for cat in form.tags|slice:":6"   %}
                                <div>
                                    <label for="{{ cat.id_for_label }}">
                                        {{ cat |slice:":1"  }}
                                    </label>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="card card-success ">
                        <div class="card-header">
                            <div class="header-block">
                                <p class="title">Image Upload</p>
                            </div>
                        </div>
                        <div class="card-block">
                            <div class="form-group">
                                <div class="images-container">
                                    <div class="image-container new">
                                        {% render_field form.thumbnail  accept="image/*" id="file"  onchange="loadFile(event)" %}
                                    </div>
                                </div><br>
                                <p><img id="output" width="200" /></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    $('.django-ckeditor-widget').css('display', 'inline');
</script>

{% endblock %}