{% extends 'base.html' %}
{% load static %}
{% block body %}

<section class="dark-grey-text">
    <div class="row pr-lg-5">
        <div class="col-md-6">
            <div class="view">
                <img src="{{ object.thumbnail.url }}" class="img-fluid" alt="smaple image">
            </div>
        </div>
        <div class="col-md-5 d-flex align-items-center">
            <div>
                <div class="media-body">
                    <img class="rounded-circle article-img" height="30" src="{{ user.profile.image.url }}">
                    <strong class="mr-4">{{ user.username }}</strong>
                    <a class="btn btn-warning btn-sm " href="{% url 'article-update' pk=object.pk %}">Update</a>
                    <a class="btn btn-danger btn-sm " href="{% url 'article-delete' pk=object.pk %}">Delete</a>
                    <a class="btn btn-primary btn-sm " href="{% url 'article-create' %}">Add New</a>
                </div>
                <hr>

                <h3>{{ object.title}}</h3>
                {% for cat in object.tags.all %}
                <strong class="mr-4">{{ cat  }}</strong><br>
                {% endfor %}
                <small class="text-muted mb-4">{{ object.timestamp | timesince }} ago</small><br>
                <h6>{{ object.content|safe }}</h6>
            </div>
        </div>
    </div>
</section>

{% endblock %}